body {
    background-color: lightgray;  
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#prijava {
    background-color: white;
    padding: 10px 20px;
    float: right;
    font-weight: bold;
}

#vsebina {
    max-width: 900px;
    margin: 40px auto; 
    padding: 40px;
    background-color: white;
    text-align:center;
    font-family:times;
}

h1{
    color: darkblue;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align:left;
    font-size:50px;
    margin-top:10px;
}
h2{
    margin-top:5px;
    color: darkblue;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align:left;
    font-size:40px;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: firebrick;
    text-decoration: underline;
}

table {
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 1px solid darkgrey;
    padding: 12px;
    text-align: left;
}

th {
    background-color: whitesmoke;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border: 1px solid black;
}

input[type="submit"], input[type="reset"] {
    width: auto;
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: red;
}

.footer {
    background-color: darkslategrey;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.kontejner {
    max-width: 900px; 
    margin: 40px auto; 
    padding: 40px;
    background-color: white;
}

.gumb {
    padding: 10px 25px;
    font-weight: bold;
}

.gumb-ena {
    background-color: dodgerblue;
    color: white;
    border: none;
}

.gumb-dva {
    background-color: whitesmoke;
    border: 1px solid silver;
}

.kontejner {
    max-width: 900px; 
    margin: 40px auto; 
    padding: 40px;
    background-color: white;
    float: center;
}

.sporocilo {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid;
}

.sporocilo-uspesno {
    background-color: honeydew;
    color: darkgreen;
    border-color: lightgreen;
}

.sporocilo-napaka {
    background-color: mistyrose;
    color: darkred;
    border-color: red;
}

.sporocilo a {
    display: block;
    margin-top: 10px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.sporocilo a:hover {
    text-decoration: underline;
}
.uspes-neus{
    float:center;
}
h3{
    color: darkblue;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight:bold;
    font-size:30px;
}
#uvod{
        max-width: 900px;
    margin: 40px auto; 
    padding: 30px;
    background-color: white;
    text-align:center;
    font-family:times;
    font-size:15px;
}